build/
cmake-build-debug/
cmake-build-minsizerel/
cmake-build-release/
cmake-build-relwithdebinfo/
CMakeLists.txt.user
.vscode/
.idea/
CMakeFiles/
3rd/libmpv/
3rd/ffmpeg/
github-token
/.vs
aur/src/
aur/BitWave/
aur/pkg/