build/
cmake-build-debug/
cmake-build-minsizerel/
cmake-build-release/
cmake-build-relwithdebinfo/
CMakeLists.txt.user
.vscode/
.idea/
CMakeFiles/
github-token
/.vs
aur/src/
aur/BitWave/
aur/pkg/
aur/
.cache/
.DS_Store